.intro,.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
.stream{
    width:960px;
    height:540px;
    transform: rotateY(180deg);
    border: 4px solid black;

}
img{
    width:40px;
    height:40px;
    margin-right: 20px;
    cursor:pointer;
}

.canvas{
    object-fit: cover;
    display: none;
    border: 4px solid black;
}
.active{
    border: 2px solid blue !important;
}
.box{
    width:100px;
    height:80px;
    border: 1px solid black;
    border-radius: 4px;
    display:flex ;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.buttons{
    margin:3px;
}
.backgrounds{
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    .list,img{
        object-fit: fill;
        cursor:pointer;
        width:100px;
        height:80px;
        border-radius: 4px;
    }
}
}